<footer id="footer">
	<div class="footer-blog-title">
		<p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>Glad to meet you here!<br /></p>
		<p>If you like the theme, go get it! <a href="https://github.com/troywith77/rZen">Install !</a></p>
	</div>
</footer>