<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<p class="cite-myself">思想，故事和灵感</p>
</header>