#ds-thread #ds-reset a.ds-like-thread-button {
	background: #fff !important;
}

#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active {
	color: #33a6b8 !important;
}

#ds-thread #ds-reset .ds-textarea-wrapper {
	background: #fff !important;
	border-color: #ddd !important;
}

#ds-thread #ds-reset .ds-post-options {
	background: #fff !important;
	border-color: #ddd !important;
}

#ds-thread #ds-reset .ds-post-button {
	background: #fff !important;
	border-color: #ddd !important;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
	background: #fff !important;
}

#ds-thread #ds-reset li.ds-tab a {
	border-radius: 2px !important;
}