#header
  display: block
  margin: 2em 0 4em
  position: relative
  *zoom: 1
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."

.blog-title
  display: inline-block
  font-size: 1.8em
  padding-bottom: .2em
  letter-spacing: .2em
  margin: 20px 0
  &:hover
    border-color: color-link
    a
      color: color-link
  a
    position: relative
    left: .1em
    padding: .4em 0
    color: #333

.mobile-nav-panel
  display: none
  padding: 15px 0 0
  .icon-reorder
    cursor: pointer
    display: inline-block
    width: 18px
    height: 17px
    background: url('/images/icon-reorder@2x.png') no-repeat 0 0
    background-size: 18px 17px

.nav
  width: 100%
  font-size: 85%
  text-transform: uppercase
  background: #000
  position: relative
  ul
    display: flex
    justify-content: center
    width: 40%
    *zoom: 1
    margin: 0 auto
    padding: 0
    &:after
      display: block
      visibility: hidden
      font-size: 0
      height: 0;
      clear: both
      content: "."
  li
    width: 18%
    min-height: 60px
    line-height: 60px
    text-align: center
    &:hover
      background: #3ab795

  a
    font-size: 1.2em
    display: block
    color: #fff
    text-transform: initial
    letter-spacing: .1em

.cite-myself
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em
  letter-spacing: .5em;

.nav-icon
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 8px
  position: relative
  cursor: pointer

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"