// Colors
color-default = #4f5759
color-title = #222
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777

@import url("//fonts.useso.com/css?family=Source+Code+Pro");
@import url("//fonts.useso.com/css?family=Open+Sans:400,700");

// Fonts
font-sans = 'Open Sans','Helvetica Neue','Helvetica', simsun, 'Arial','メイリオ', Meiryo,'MS PGothic', 'Microsoft Yahei', sans-serif
font-serif = Georgia, "Times New Roman", 'Microsoft Yahei', serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em